__pycache__
/venv/
/.idea/
db_data
secrets
my-db
.env
my-db_old/auto.cnf
my-db_old/ca-key.pem
my-db_old/ca.pem
my-db_old/client-cert.pem
my-db_old/client-key.pem
my-db_old/ib_buffer_pool
my-db_old/ib_logfile0
my-db_old/ib_logfile1
my-db_old/ibdata1
my-db_old/private_key.pem
my-db_old/public_key.pem
my-db_old/server-cert.pem
my-db_old/server-key.pem
my-db_old/db/db.opt
my-db_old/db/discussions_comments.frm
my-db_old/db/discussions_comments.ibd
my-db_old/db/discussions_likes.frm
my-db_old/db/discussions_likes.ibd
my-db_old/db/discussions.frm
my-db_old/db/discussions.ibd
my-db_old/db/meetups_comments.frm
my-db_old/db/meetups_comments.ibd
my-db_old/db/meetups_rsvp.frm
my-db_old/db/meetups_rsvp.ibd
my-db_old/db/meetups.frm
my-db_old/db/meetups.ibd
my-db_old/db/news.frm
my-db_old/db/news.ibd
my-db_old/db/users.frm
my-db_old/db/users.ibd
my-db_old/mysql/columns_priv.frm
my-db_old/mysql/columns_priv.MYD
my-db_old/mysql/columns_priv.MYI
my-db_old/mysql/db.frm
my-db_old/mysql/db.MYD
my-db_old/mysql/db.MYI
my-db_old/mysql/db.opt
my-db_old/mysql/engine_cost.frm
my-db_old/mysql/engine_cost.ibd
my-db_old/mysql/event.frm
my-db_old/mysql/event.MYD
my-db_old/mysql/event.MYI
my-db_old/mysql/func.frm
my-db_old/mysql/func.MYD
my-db_old/mysql/func.MYI
my-db_old/mysql/general_log.CSM
my-db_old/mysql/general_log.CSV
my-db_old/mysql/general_log.frm
my-db_old/mysql/gtid_executed.frm
my-db_old/mysql/gtid_executed.ibd
my-db_old/mysql/help_category.frm
my-db_old/mysql/help_category.ibd
my-db_old/mysql/help_keyword.frm
my-db_old/mysql/help_keyword.ibd
my-db_old/mysql/help_relation.frm
my-db_old/mysql/help_relation.ibd
my-db_old/mysql/help_topic.frm
my-db_old/mysql/help_topic.ibd
my-db_old/mysql/innodb_index_stats.frm
my-db_old/mysql/innodb_index_stats.ibd
my-db_old/mysql/innodb_table_stats.frm
my-db_old/mysql/innodb_table_stats.ibd
my-db_old/mysql/ndb_binlog_index.frm
my-db_old/mysql/ndb_binlog_index.MYD
my-db_old/mysql/ndb_binlog_index.MYI
my-db_old/mysql/plugin.frm
my-db_old/mysql/plugin.ibd
my-db_old/mysql/proc.frm
my-db_old/mysql/proc.MYD
my-db_old/mysql/proc.MYI
my-db_old/mysql/procs_priv.frm
my-db_old/mysql/procs_priv.MYD
my-db_old/mysql/procs_priv.MYI
my-db_old/mysql/proxies_priv.frm
my-db_old/mysql/proxies_priv.MYD
my-db_old/mysql/proxies_priv.MYI
my-db_old/mysql/server_cost.frm
my-db_old/mysql/server_cost.ibd
my-db_old/mysql/servers.frm
my-db_old/mysql/servers.ibd
my-db_old/mysql/slave_master_info.frm
my-db_old/mysql/slave_master_info.ibd
my-db_old/mysql/slave_relay_log_info.frm
my-db_old/mysql/slave_relay_log_info.ibd
my-db_old/mysql/slave_worker_info.frm
my-db_old/mysql/slave_worker_info.ibd
my-db_old/mysql/slow_log.CSM
my-db_old/mysql/slow_log.CSV
my-db_old/mysql/slow_log.frm
my-db_old/mysql/tables_priv.frm
my-db_old/mysql/tables_priv.MYD
my-db_old/mysql/tables_priv.MYI
my-db_old/mysql/time_zone_leap_second.frm
my-db_old/mysql/time_zone_leap_second.ibd
my-db_old/mysql/time_zone_name.frm
my-db_old/mysql/time_zone_name.ibd
my-db_old/mysql/time_zone_transition_type.frm
my-db_old/mysql/time_zone_transition_type.ibd
my-db_old/mysql/time_zone_transition.frm
my-db_old/mysql/time_zone_transition.ibd
my-db_old/mysql/time_zone.frm
my-db_old/mysql/time_zone.ibd
my-db_old/mysql/user.frm
my-db_old/mysql/user.MYD
my-db_old/mysql/user.MYI
my-db_old/performance_schema/accounts.frm
my-db_old/performance_schema/cond_instances.frm
my-db_old/performance_schema/db.opt
my-db_old/performance_schema/events_stages_current.frm
my-db_old/performance_schema/events_stages_history_long.frm
my-db_old/performance_schema/events_stages_history.frm
my-db_old/performance_schema/events_stages_summary_by_account_by_event_name.frm
my-db_old/performance_schema/events_stages_summary_by_host_by_event_name.frm
my-db_old/performance_schema/events_stages_summary_by_thread_by_event_name.frm
my-db_old/performance_schema/events_stages_summary_by_user_by_event_name.frm
my-db_old/performance_schema/events_stages_summary_global_by_event_name.frm
my-db_old/performance_schema/events_statements_current.frm
my-db_old/performance_schema/events_statements_history_long.frm
my-db_old/performance_schema/events_statements_history.frm
my-db_old/performance_schema/events_statements_summary_by_account_by_event_name.frm
my-db_old/performance_schema/events_statements_summary_by_digest.frm
my-db_old/performance_schema/events_statements_summary_by_host_by_event_name.frm
my-db_old/performance_schema/events_statements_summary_by_program.frm
my-db_old/performance_schema/events_statements_summary_by_thread_by_event_name.frm
my-db_old/performance_schema/events_statements_summary_by_user_by_event_name.frm
my-db_old/performance_schema/events_statements_summary_global_by_event_name.frm
my-db_old/performance_schema/events_transactions_current.frm
my-db_old/performance_schema/events_transactions_history_long.frm
my-db_old/performance_schema/events_transactions_history.frm
my-db_old/performance_schema/events_transactions_summary_by_account_by_event_name.frm
my-db_old/performance_schema/events_transactions_summary_by_host_by_event_name.frm
my-db_old/performance_schema/events_transactions_summary_by_thread_by_event_name.frm
my-db_old/performance_schema/events_transactions_summary_by_user_by_event_name.frm
my-db_old/performance_schema/events_transactions_summary_global_by_event_name.frm
my-db_old/performance_schema/events_waits_current.frm
my-db_old/performance_schema/events_waits_history_long.frm
my-db_old/performance_schema/events_waits_history.frm
my-db_old/performance_schema/events_waits_summary_by_account_by_event_name.frm
my-db_old/performance_schema/events_waits_summary_by_host_by_event_name.frm
my-db_old/performance_schema/events_waits_summary_by_instance.frm
my-db_old/performance_schema/events_waits_summary_by_thread_by_event_name.frm
my-db_old/performance_schema/events_waits_summary_by_user_by_event_name.frm
my-db_old/performance_schema/events_waits_summary_global_by_event_name.frm
my-db_old/performance_schema/file_instances.frm
my-db_old/performance_schema/file_summary_by_event_name.frm
my-db_old/performance_schema/file_summary_by_instance.frm
my-db_old/performance_schema/global_status.frm
my-db_old/performance_schema/global_variables.frm
my-db_old/performance_schema/host_cache.frm
my-db_old/performance_schema/hosts.frm
my-db_old/performance_schema/memory_summary_by_account_by_event_name.frm
my-db_old/performance_schema/memory_summary_by_host_by_event_name.frm
my-db_old/performance_schema/memory_summary_by_thread_by_event_name.frm
my-db_old/performance_schema/memory_summary_by_user_by_event_name.frm
my-db_old/performance_schema/memory_summary_global_by_event_name.frm
my-db_old/performance_schema/metadata_locks.frm
my-db_old/performance_schema/mutex_instances.frm
my-db_old/performance_schema/objects_summary_global_by_type.frm
my-db_old/performance_schema/performance_timers.frm
my-db_old/performance_schema/prepared_statements_instances.frm
my-db_old/performance_schema/replication_applier_configuration.frm
my-db_old/performance_schema/replication_applier_status_by_coordinator.frm
my-db_old/performance_schema/replication_applier_status_by_worker.frm
my-db_old/performance_schema/replication_applier_status.frm
my-db_old/performance_schema/replication_connection_configuration.frm
my-db_old/performance_schema/replication_connection_status.frm
my-db_old/performance_schema/replication_group_member_stats.frm
my-db_old/performance_schema/replication_group_members.frm
my-db_old/performance_schema/rwlock_instances.frm
my-db_old/performance_schema/session_account_connect_attrs.frm
my-db_old/performance_schema/session_connect_attrs.frm
my-db_old/performance_schema/session_status.frm
my-db_old/performance_schema/session_variables.frm
my-db_old/performance_schema/setup_actors.frm
my-db_old/performance_schema/setup_consumers.frm
my-db_old/performance_schema/setup_instruments.frm
my-db_old/performance_schema/setup_objects.frm
my-db_old/performance_schema/setup_timers.frm
my-db_old/performance_schema/socket_instances.frm
my-db_old/performance_schema/socket_summary_by_event_name.frm
my-db_old/performance_schema/socket_summary_by_instance.frm
my-db_old/performance_schema/status_by_account.frm
my-db_old/performance_schema/status_by_host.frm
my-db_old/performance_schema/status_by_thread.frm
my-db_old/performance_schema/status_by_user.frm
my-db_old/performance_schema/table_handles.frm
my-db_old/performance_schema/table_io_waits_summary_by_index_usage.frm
my-db_old/performance_schema/table_io_waits_summary_by_table.frm
my-db_old/performance_schema/table_lock_waits_summary_by_table.frm
my-db_old/performance_schema/threads.frm
my-db_old/performance_schema/user_variables_by_thread.frm
my-db_old/performance_schema/users.frm
my-db_old/performance_schema/variables_by_thread.frm
my-db_old/sys/db.opt
my-db_old/sys/host_summary_by_file_io_type.frm
my-db_old/sys/host_summary_by_file_io.frm
my-db_old/sys/host_summary_by_stages.frm
my-db_old/sys/host_summary_by_statement_latency.frm
my-db_old/sys/host_summary_by_statement_type.frm
my-db_old/sys/host_summary.frm
my-db_old/sys/innodb_buffer_stats_by_schema.frm
my-db_old/sys/innodb_buffer_stats_by_table.frm
my-db_old/sys/innodb_lock_waits.frm
my-db_old/sys/io_by_thread_by_latency.frm
my-db_old/sys/io_global_by_file_by_bytes.frm
my-db_old/sys/io_global_by_file_by_latency.frm
my-db_old/sys/io_global_by_wait_by_bytes.frm
my-db_old/sys/io_global_by_wait_by_latency.frm
my-db_old/sys/latest_file_io.frm
my-db_old/sys/memory_by_host_by_current_bytes.frm
my-db_old/sys/memory_by_thread_by_current_bytes.frm
my-db_old/sys/memory_by_user_by_current_bytes.frm
my-db_old/sys/memory_global_by_current_bytes.frm
my-db_old/sys/memory_global_total.frm
my-db_old/sys/metrics.frm
my-db_old/sys/processlist.frm
my-db_old/sys/ps_check_lost_instrumentation.frm
my-db_old/sys/schema_auto_increment_columns.frm
my-db_old/sys/schema_index_statistics.frm
my-db_old/sys/schema_object_overview.frm
my-db_old/sys/schema_redundant_indexes.frm
my-db_old/sys/schema_table_lock_waits.frm
my-db_old/sys/schema_table_statistics_with_buffer.frm
my-db_old/sys/schema_table_statistics.frm
my-db_old/sys/schema_tables_with_full_table_scans.frm
my-db_old/sys/schema_unused_indexes.frm
my-db_old/sys/session_ssl_status.frm
my-db_old/sys/session.frm
my-db_old/sys/statement_analysis.frm
my-db_old/sys/statements_with_errors_or_warnings.frm
my-db_old/sys/statements_with_full_table_scans.frm
my-db_old/sys/statements_with_runtimes_in_95th_percentile.frm
my-db_old/sys/statements_with_sorting.frm
my-db_old/sys/statements_with_temp_tables.frm
my-db_old/sys/sys_config_insert_set_user.TRN
my-db_old/sys/sys_config_update_set_user.TRN
my-db_old/sys/sys_config.frm
my-db_old/sys/sys_config.ibd
my-db_old/sys/sys_config.TRG
my-db_old/sys/user_summary_by_file_io_type.frm
my-db_old/sys/user_summary_by_file_io.frm
my-db_old/sys/user_summary_by_stages.frm
my-db_old/sys/user_summary_by_statement_latency.frm
my-db_old/sys/user_summary_by_statement_type.frm
my-db_old/sys/user_summary.frm
my-db_old/sys/version.frm
my-db_old/sys/wait_classes_global_by_avg_latency.frm
my-db_old/sys/wait_classes_global_by_latency.frm
my-db_old/sys/waits_by_host_by_latency.frm
my-db_old/sys/waits_by_user_by_latency.frm
my-db_old/sys/waits_global_by_latency.frm
my-db_old/sys/x@0024host_summary_by_file_io_type.frm
my-db_old/sys/x@0024host_summary_by_file_io.frm
my-db_old/sys/x@0024host_summary_by_stages.frm
my-db_old/sys/x@0024host_summary_by_statement_latency.frm
my-db_old/sys/x@0024host_summary_by_statement_type.frm
my-db_old/sys/x@0024host_summary.frm
my-db_old/sys/x@0024innodb_buffer_stats_by_schema.frm
my-db_old/sys/x@0024innodb_buffer_stats_by_table.frm
my-db_old/sys/x@0024innodb_lock_waits.frm
my-db_old/sys/x@0024io_by_thread_by_latency.frm
my-db_old/sys/x@0024io_global_by_file_by_bytes.frm
my-db_old/sys/x@0024io_global_by_file_by_latency.frm
my-db_old/sys/x@0024io_global_by_wait_by_bytes.frm
my-db_old/sys/x@0024io_global_by_wait_by_latency.frm
my-db_old/sys/x@0024latest_file_io.frm
my-db_old/sys/x@0024memory_by_host_by_current_bytes.frm
my-db_old/sys/x@0024memory_by_thread_by_current_bytes.frm
my-db_old/sys/x@0024memory_by_user_by_current_bytes.frm
my-db_old/sys/x@0024memory_global_by_current_bytes.frm
my-db_old/sys/x@0024memory_global_total.frm
my-db_old/sys/x@0024processlist.frm
my-db_old/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
my-db_old/sys/x@0024ps_digest_avg_latency_distribution.frm
my-db_old/sys/x@0024ps_schema_table_statistics_io.frm
my-db_old/sys/x@0024schema_flattened_keys.frm
my-db_old/sys/x@0024schema_index_statistics.frm
my-db_old/sys/x@0024schema_table_lock_waits.frm
my-db_old/sys/x@0024schema_table_statistics_with_buffer.frm
my-db_old/sys/x@0024schema_table_statistics.frm
my-db_old/sys/x@0024schema_tables_with_full_table_scans.frm
my-db_old/sys/x@0024session.frm
my-db_old/sys/x@0024statement_analysis.frm
my-db_old/sys/x@0024statements_with_errors_or_warnings.frm
my-db_old/sys/x@0024statements_with_full_table_scans.frm
my-db_old/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
my-db_old/sys/x@0024statements_with_sorting.frm
my-db_old/sys/x@0024statements_with_temp_tables.frm
my-db_old/sys/x@0024user_summary_by_file_io_type.frm
my-db_old/sys/x@0024user_summary_by_file_io.frm
my-db_old/sys/x@0024user_summary_by_stages.frm
my-db_old/sys/x@0024user_summary_by_statement_latency.frm
my-db_old/sys/x@0024user_summary_by_statement_type.frm
my-db_old/sys/x@0024user_summary.frm
my-db_old/sys/x@0024wait_classes_global_by_avg_latency.frm
my-db_old/sys/x@0024wait_classes_global_by_latency.frm
my-db_old/sys/x@0024waits_by_host_by_latency.frm
my-db_old/sys/x@0024waits_by_user_by_latency.frm
my-db_old/sys/x@0024waits_global_by_latency.frm
