version: '3.3'
services:
    api-server:
        networks:
            dockernet:
                ipv4_address: 172.28.1.1
        # network_mode: "host"
        build: .
        ports:
            - '8000:8000'
        volumes:
            - './secrets:/code/secrets'
    db:
        image: mysql:5.7
        restart: always
        env_file:
            - ./secrets/.env
        networks:
            dockernet:
                ipv4_address: 172.28.1.2
        environment:
            MYSQL_DATABASE: "$$MYSQL_DB_NAME"
            # So you don't have to use root, but you can if you like
            MYSQL_USER: "$$MYSQL_USERNAME"
            # You can use whatever password you like
            MYSQL_PASSWORD: "$$MYSQL_PASSWORD"
            # Password for root access
            MYSQL_ROOT_PASSWORD: "$$MYSQL_PASSWORD"
        ports:
            # <Port exposed> : < MySQL Port running inside container>
            - '3306:3306'
        expose:
            # Opens port 3306 on the container
            - '3306'
        # Where our data will be persisted
        volumes:
            - './my-db:/var/lib/mysql'

    adminer:
        image: adminer
        restart: always
        ports:
            - 8080:8080

networks:
    dockernet:
        ipam:
            driver: default
            config:
                - subnet: 172.28.0.0/16
