# Build and Deploy to dev huawei cloud vm

name: deploy to development

# Controls when the workflow will run
on:
  # Triggers the workflow on pull request events but only for the production branch
  push:
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-image:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: checkout repo
        uses: actions/checkout@v2

#      - name: docker compose
#        run: docker compose up -d

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

#      - name: Extract metadata (tags, labels) for Docker
#        id: meta
#        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
#        with:
#          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true # Will only build if this is not here
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.sha }}
            ghcr.io/${{ github.repository }}:latest
            
#      - name:
#        uses: appleboy/ssh-action@master
#        with:
#          host: 110.238.111.52 # ${{ secrets.HOST }}
#          username: root # ${{ secrets.USERNAME }}
#          password: ${{ secrets.ECS_ROOT_PASSWORD }}
#          script: |
#            whoami
#            ls -al

        # huawei cloud project admin won't allow use of keys
#      - name: pull and run on huawei cloud server
#        run: |
#          ssh-keyscan 110.238.111.52 >> ~/.ssh/known_hosts
#          sshpass -p ${{ secrets.ECS_ROOT_PASSWORD }} ssh root@110.238.111.52
#          docker pull ghcr.io/${{ github.repository }}:${{ github.sha }}
#          cd aura-server
#          curl https://raw.githubusercontent.com/${{ github.repository }}/main/docker-compose.yml
#          curl -fsSL https://get.docker.com -o get-docker.sh && sudo sh get-docker.sh
#          docker compose up -d
          
          
          


  deploy:
    runs-on: ubuntu-latest
    needs: build-image
    steps:
      - name: build and deploy on server
        uses: appleboy/ssh-action@master
        with:
          host: 110.238.111.52 # ${{ secrets.HOST }}
          username: root # ${{ secrets.USERNAME }}
          password: ${{ secrets.ECS_ROOT_PASSWORD }}
          script: |
            docker pull ghcr.io/${{ github.repository }}:${{ github.sha }}
            pwd
            ls
            cd aura-server
            wget https://raw.githubusercontent.com/${{ github.repository }}/main/docker-compose.yml -O docker-compose.yml
            docker-compose up -d
            rm -rf docker-compose.yml
          
